# 1. Python Language Basics, IPython, and Jupyter Notebooks

## 1.1 run python script

In terminal:

```
$python helloworld.py 
```

In Jupyter cell:

In [4]:
%run helloworld.py

Hello World!

## 1.2 IPython Basics

### Running the IPython Shell

In [5]:
import numpy as np
data = {i : np.random.randn() for i in range(3)}
data

{0: -0.941252559409627, 1: 2.0334322607751143, 2: -0.9691203243592533}

### Tab Completion

In [9]:
an_apple=[1,2]
an_banana=2

In [ ]:
# variable name
an

In [ ]:
an_apple.

In [11]:
import datetime

In [12]:
datetime.

In [ ]:
./

### Introspection

In [15]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [18]:
an_apple?

Type:        list
String form: [1, 2]
Length:      2
Docstring:
list() -> new empty list
list(iterable) -> new list initialized from iterable's items

#### Interrupting running code

### Terminal Keyboard Shortcuts

### About Magic Commands

In [21]:
a=np.random.randn(100,100)

In [22]:
%timeit np.dot(a,a)

38.3 µs ± 1.29 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [23]:
pwd

'/Users/mm28542/Box/wda'

### Matplotlib Integration

In [24]:
%matplotlib inline

## 1.3 Python Language Basics

### Language Semantics

#### Indentation, not braces

In [35]:
for i in range(3):
    if i<2:
        print(i,"is less than 2")
    else:
        print(i,"is greater or equal than 2")

0 is less than 2
1 is less than 2
2 is greater or equal than 2

#### Everything is an object

#### Comments/uncomments

`ctrl+/`

In [36]:
# for i in range(3):
#     if i<2:
#         print(i,"is less than 2")
#     else:
#         print(i,"is greater or equal than 2")

#### Function and object method calls

```
f(x, y, z)
```

```
obj.some_method(x, y, z)
```

#### Variables and argument passing

In [25]:
a = [1, 2, 3]

In [26]:
b = a

In [27]:
a.append(4)
b

[1, 2, 3, 4]

```python
def append_element(some_list, element):
    some_list.append(element)
```

```python
In [27]: data = [1, 2, 3]

In [28]: append_element(data, 4)

In [29]: data
Out[29]: [1, 2, 3, 4]
```

#### Dynamic references, strong types

In [37]:
a = 5
type(a)

int

In [38]:
a = 'foo'
type(a)

str

In [29]:
'5' + 5

TypeError: Can't convert 'int' object to str implicitly

In [30]:
a = 4.5
b = 2
# String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a), type(b)))
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [39]:
a = 5
isinstance(a, int)

True

In [40]:
a = 5
isinstance(a, (int, float))

True

In [41]:
b = 4.5
isinstance(b, (int, float))

True

#### Attributes and methods

In [42]:
a = 'foo'

In [ ]:
a.

In [53]:
getattr(a, 'upper')()

'FOO'

In [46]:
getattr?

Docstring:
getattr(object, name[, default]) -> value

Get a named attribute from an object; getattr(x, 'y') is equivalent to x.y.
When a default argument is given, it is returned when the attribute doesn't
exist; without it, an exception is raised in that case.
Type:      builtin_function_or_method

#### Duck typing

In [54]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [56]:
isiterable('a string')

True

In [57]:
isiterable([1, 2, 3])

True

In [58]:
isiterable(5)

False

#### Imports

In [61]:
import helloworld

Hello World!

In [63]:
helloworld.ph()

Hello World!

In [64]:
import helloworld as hw
hw.ph()

Hello World!

#### Binary operators and comparisons

In [65]:
5 - 7
12 + 21.5
5 <= 2

False

In [67]:
a = [1, 2, 3]
b = a
c = list(a)
a is b

True

In [68]:
a is not c

True

In [69]:
a == c

True

In [70]:
a = None
a is None

True

#### Mutable and immutable objects

In [71]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [72]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

### Scalar Types

#### Numeric types

In [2]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [3]:
fval = 7.243
fval2 = 6.78e-5

In [75]:
3 / 2

1.5

In [77]:
7 // 2

3

#### Strings

a = 'one way of writing a string'
b = "another way"

In [4]:
c = """
This is a longer string that
spans multiple lines
"""

In [5]:
c

'\nThis is a longer string that\nspans multiple lines\n'

In [79]:
c.count('\n')

3

In [6]:
a = 'this is a string'
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [82]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [83]:
a

'this is a string'

In [84]:
a = 5.6
s = str(a)
print(s)

5.6

In [7]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [8]:
s[:3]

'pyt'

In [9]:
s = '12\\34'
print(s)

12\34

raw string literal

In [10]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [88]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [11]:
template = '{0:.2f} {1:s} are worth US${2:d}' # d: Decimal Integer

In [12]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

#### Bytes and Unicode

In [13]:
val = "español"
val

'español'

In [16]:
type(val)

str

In [14]:
val_utf8 = val.encode('utf-8')
val_utf8

b'espa\xc3\xb1ol'

In [15]:
type(val_utf8)

bytes

In [17]:
val_utf8.decode('utf-8')

'español'

In [94]:
val.encode('latin1')
val.encode('utf-16')
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [95]:
bytes_val = b'this is bytes'
bytes_val
decoded = bytes_val.decode('utf8')
decoded  # this is str (Unicode) now

'this is bytes'

#### Booleans

In [96]:
True and True
False or True

True

#### Type casting

In [98]:
s = '3.14159'
fval = float(s)

In [99]:
type(fval)

float

In [100]:
int(fval)

3

In [101]:
bool(fval)

True

In [102]:
bool(0)

False

#### None

In [105]:
a=None
a is None

True

In [103]:
b = 5
b is not None

True

In [104]:
type(None)

NoneType

#### Dates and times

In [20]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day

29

In [35]:
dt.minute

30

In [22]:
dt.date()

datetime.date(2011, 10, 29)

In [23]:
dt.time()

datetime.time(20, 30, 21)

In [24]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [31]:
datetime.strptime('20091031', '%Y%m%d') #new datetime parsed from a string

datetime.datetime(2009, 10, 31, 0, 0)

In [26]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [27]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta

In [28]:
type(delta)

datetime.timedelta

In [29]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

### Control Flow

#### if, elif, and else

In [44]:
x=-10
if x < 0:
    print('It is negative')

It is negative

In [40]:
x=10
if x < 0:
    print("It's negative")
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

Positive and larger than or equal to 5

In [36]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

Made it

#### for loops

for value in collection:
    # do something with value

In [47]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
total

12

In [50]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
total_until_5

13

In [45]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

#### while loops

In [52]:
x = 256
total = 0
while x > 0:
    print(x)
    if total > 500:
        break
    total += x
    x = x // 2

256
128
64
32
16
8
4

#### pass

In [54]:
x=0
if x < 0:
    print('negative!')
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print('positive!')

#### range

In [55]:
range(10)

range(0, 10)

In [56]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [58]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [59]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]

#### Ternary expressions

value =

if

In [65]:
x = 5
value='Non-negative' if x >= 0 else 'Negative'
value

'Non-negative'